<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2009-2020 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.my.DemoMapper">
  <cache/>
  <select id="getDemo"
          flushCache="false"
          resultType="org.apache.ibatis.my.Demo">
    SELECT *
    FROM demo
    WHERE id = #{id}
  </select>

  <resultMap id="newDemoDataResultMap" type="org.apache.ibatis.my.DemoData">
    <id column="id" property="id"/>
    <result column="demo_id" property="demoId"/>
    <result column="desc" property="desc"/>

    <association property="demo" javaType="org.apache.ibatis.my.Demo"
                 select="getDemo" column="demo_id"/>
  </resultMap>

  <select id="queryDemoDataList" resultMap="newDemoDataResultMap">
    select *
    from demo_data
    <where>
      <if test="id !=null">
        id=#{id}
      </if>
    </where>
  </select>
</mapper>
